In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('data.csv')

In [3]:
df.head()

   fever  bodyPain  age  runningNose  diffBreathing  infectionProb
0    101         0   71            1             -1              0
1    104         0    1            0              1              1
2    100         0   44            1             -1              0
3    100         0   62            0              0              0
4    104         1   57            1              0              0

In [4]:
df.tail()

      fever  bodyPain  age  runningNose  diffBreathing  infectionProb
2994     98         1   30            0              1              0
2995    103         0   57            0             -1              1
2996     98         0   61            0              1              0
2997    101         0    3            1              1              0
2998    104         1   14            1              0              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2999 non-null   int64
 1   bodyPain       2999 non-null   int64
 2   age            2999 non-null   int64
 3   runningNose    2999 non-null   int64
 4   diffBreathing  2999 non-null   int64
 5   infectionProb  2999 non-null   int64
dtypes: int64(6)
memory usage: 140.7 KB

In [6]:
df['diffBreathing'].value_counts()

-1    1017
 0    1007
 1     975
Name: diffBreathing, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runningNose,diffBreathing,infectionProb
count,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000,2999.000000
mean,100.981661,0.515839,46.393798,0.492164,-0.014005,0.509503
std,1.994990,0.499832,26.169611,0.500022,0.815013,0.499993
min,98.000000,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.000000,0.000000,23.000000,0.000000,-1.000000,0.000000
50%,101.000000,1.000000,47.000000,0.000000,0.000000,1.000000
75%,103.000000,1.000000,70.000000,1.000000,1.000000,1.000000
max,104.000000,1.000000,90.000000,1.000000,1.000000,1.000000

# Train Test Spilting

In [8]:
import numpy as np

In [9]:
def spilt( data , ratio ):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size= int (len(data) *ratio)
    test_indicies = shuffled [:test_set_size]
    train_indicies = shuffled [test_set_size : ]
    return data.iloc[train_indicies] ,data.iloc[test_indicies]

In [10]:
train , test = spilt(df, 0.2)

In [11]:
train

      fever  bodyPain  age  runningNose  diffBreathing  infectionProb
1103    100         1   63            0              1              0
1569    100         0   50            1             -1              0
2229    103         1   39            0             -1              0
2296    104         0   54            1             -1              1
1800     99         0   40            0              1              1
...     ...       ...  ...          ...            ...            ...
1638    103         1   74            1              0              0
1095     98         0   61            1              0              1
1130    100         0   32            0              1              1
1294     99         0    1            1             -1              0
860      99         0   15            0              0              1

[2400 rows x 6 columns]

In [12]:
test

      fever  bodyPain  age  runningNose  diffBreathing  infectionProb
1376    102         0   56            0              1              0
932     103         0   37            0              0              1
144      99         1   78            1             -1              0
1752     99         0   74            0              1              1
51       99         1   16            0              1              1
...     ...       ...  ...          ...            ...            ...
842     104         0   31            0              1              1
637     103         1   41            0             -1              1
695     104         1   84            1              0              0
226     100         1    1            0              1              1
2603     98         0   40            1              1              0

[599 rows x 6 columns]

In [13]:
X_train = train[['fever','bodyPain','age','runningNose','diffBreathing']].to_numpy()
X_test = test[['fever','bodyPain','age','runningNose','diffBreathing']].to_numpy()


Y_train = train[['infectionProb']].to_numpy().reshape(2400 ,)
Y_test = test[['infectionProb']].to_numpy().reshape(599,)

In [14]:
Y_train

array([0, 0, 0, ..., 1, 0, 1], dtype=int64)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
clf = LogisticRegression()

In [17]:
clf.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [18]:
inputFeatures = [100,1,66,1,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [21]:
infProb

0.48080067922346753